<template>
  <div>
    <div class="container text-right">
      <a-button class="mx-2 mb-5" type="primary" @click="showModalUser">Change User</a-button>
      <a-button class="mx-2 mb-5" type="primary" @click="showModalCard">Add Card</a-button>
      <a-modal title="Please provide username" v-model="userVisible" @ok="handleOk()">
        <a-input v-model="user" />
      </a-modal>
      <a-modal title="Please provide card information" v-model="cardVisible" @ok="addCard()">
        <a-form-item label="Card Name" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input v-model="addCardForm.card_name" />
        </a-form-item>
        <a-form-item label="Status" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-select defaultValue="online" v-model="addCardForm.status">
            <a-select-option value="online">Online</a-select-option>
            <a-select-option value="pending">Pending</a-select-option>
            <a-select-option value="offline">Offline</a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="Category" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-select defaultValue="physics" v-model="addCardForm.category">
            <a-select-option value="physics">Physics</a-select-option>
            <a-select-option value="technology">Technology</a-select-option>
            <a-select-option value="chemistry">Chemistry</a-select-option>
            <a-select-option value="sociology">Sociology</a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="Content" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
          <a-input v-model="addCardForm.content" />
        </a-form-item>
      </a-modal>
      <b-card-group columns>
        <b-card class="text-left" v-for="(card, index) in data" :key="index">
          <b-card-text>
            <div class="d-flex justify-content-between mb-3">
              <div class="card-name">{{card.card_name}}</div>
              <div>
                <a-icon
                  v-if="user === card.author"
                  class="ml-1"
                  @click="deleteCard(index)"
                  type="delete"
                  style="color:#d93d61"
                />
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="cat-text">{{card.category}}</div>
              <div class="d-flex">
                <a-icon
                  class="mx-2"
                  @click="showModalEdit(index)"
                  v-if="user === card.author"
                  type="edit"
                />
                <div v-if="card.status === 'online'" class="status online"></div>
                <div v-if="card.status === 'pending'" class="status pending"></div>
                <div v-if="card.status === 'offline'" class="status offline"></div>
                <a-modal
                  title="Please provide card information"
                  v-model="card.editVisible"
                  @ok="editCard(index)"
                >
                  <a-form-item
                    label="Card Name"
                    :label-col="{ span: 5 }"
                    :wrapper-col="{ span: 12 }"
                  >
                    <a-input v-model="card.card_name" />
                  </a-form-item>
                  <a-form-item label="Status" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                    <a-select defaultValue="online" v-model="card.status">
                      <a-select-option value="online">Online</a-select-option>
                      <a-select-option value="pending">Pending</a-select-option>
                      <a-select-option value="offline">Offline</a-select-option>
                    </a-select>
                  </a-form-item>
                  <a-form-item
                    label="Category"
                    :label-col="{ span: 5 }"
                    :wrapper-col="{ span: 12 }"
                  >
                    <a-select defaultValue="physics" v-model="card.category">
                      <a-select-option value="physics">Physics</a-select-option>
                      <a-select-option value="technology">Technology</a-select-option>
                      <a-select-option value="chemistry">Chemistry</a-select-option>
                      <a-select-option value="sociology">Sociology</a-select-option>
                    </a-select>
                  </a-form-item>
                  <a-form-item label="Content" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
                    <a-input v-model="card.content" />
                  </a-form-item>
                </a-modal>
              </div>
            </div>
            <div class="mt-3">{{card.content}}</div>
            <div class="d-flex align-items-center mt-3">
              <img
                class="img-user mr-2"
                src="https://www.praxiscomputer.de/wp-content/uploads/2015/06/Avatar-300x300.jpg"
              />
              <div>{{card.author}}</div>
            </div>
          </b-card-text>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: "root",
      cardId: 2,
      userVisible: false,
      cardVisible: false,
      addCardForm: {
        id: this.cardId,
        card_name: "",
        status: "online",
        content: "",
        category: "physics",
        author: "",
        editVisible: false,
      },
      data: [
        {
          id: 1,
          card_name: "lorem",
          status: "online",
          content:
            "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less norma",
          category: "physics",
          author: "root",
          editVisible: false,
        },
        {
          id: 2,
          card_name: "lorem 2",
          status: "pending",
          content:
            "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search f",
          category: "technology",
          author: "root1",
          editVisible: false,
        }
      ]
    };
  },
  methods: {
    showModalUser() {
      this.userVisible = true;
    },
    showModalCard() {
      this.cardVisible = true;
    },
    handleOk(e) {
      console.log(e);
      this.userVisible = false;
    },
    addCard() {
      this.addCardForm.author = this.user;
      this.data.push(this.addCardForm);
      this.cardVisible = false;
      this.id += 1;
    },
    showModalEdit(index) {
      this.data[index].editVisible = true;
    },
    editCard(index) {
      this.data[index].editVisible = false;
    },
    deleteCard(id) {
      this.data.splice(id, 1);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.cat-text {
  color: #6422ab;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.status {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
}
.status.online {
  border: 3px solid #5de8a2;
}
.status.pending {
  border: 3px solid #54e1eb;
}
.status.offline {
  border: 3px solid #edbf5a;
}
.card-name {
  font-size: 22px;
  font-weight: bolder;
}
.img-user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
</style>
<style>
.ant-col-12.ant-form-item-control-wrapper {
  width: 75% !important;
}
</style>